<!DOCTYPE HTML>
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/reset-css/reset.css">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/forms.less?1">


    <title>Médor</title>
    {% block head %}{% endblock %}

</head>
<body id="{% block id %}{% endblock %}">
    <nav id="main-nav">
        <ul>
        {% show_menu %}
        </ul>
        <form target="_blank" id="newsletter" method="post" action="https://medor.coop/liste/process.php" name="signup">
            <label for="Email">Newsletter</label>
            <input type="text" name="Email" id="email" maxlength="120" value="" />
            <input type="hidden" name="d[10]" value="on" />
            <!--*** DO NOT CHANGE  name="pommo_signup" ! *** If you’d like to change the button text change  the "value=" text.-->
            <input type="hidden" name="pommo_signup" value="true" />
            <input class="button" type="submit" value="OK" />
        </form>
        <a href="https://twitter.com/Medor_mag" class="btn-twt">Twitter</a> <a href="https://www.facebook.com/medormag" class="btn-fb">facebook</a>
    </nav>
    <div id="outer-wrapper">
        <h1><img src="{{ STATIC_URL }}img/medor-centre.svg" alt="Médor" /></h1>

        {% block content %}{% endblock %}
    </div>


    <script src="{{ STATIC_URL }}components/less/dist/less.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>
