{% extends "subscribe/base_forms.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h2>Je coopère</h2>

    <div id="steps">
            <div class="active">Enregistrement</div>
    </div>

    <form action="" method="post" class="step-{{ wizard.steps.step1 }} cooperation">
        {% csrf_token %}
        {{ wizard.management_form }}


        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ form.non_field_errors }} 

            <div class="box">
                <div class="required">
                    {{ form.title.errors }}
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>
                <div class="required">
                    {{ form.first_name.errors }}
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="required">
                    {{ form.last_name.errors }}
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="required">
                    {{ form.email.errors }}
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>
            <div class="box">
                <div class="required">
                    {{ form.street.errors }}
                    {{ form.street.label_tag }}
                    {{ form.street }}
                </div>
                <div class="required">
                    {{ form.number.errors }}
                    {{ form.number.label_tag }}
                    {{ form.number }}
                </div>
                <div>
                    {{ form.letterbox.errors }}
                    {{ form.letterbox.label_tag }}
                    {{ form.letterbox }}
                </div>
                <div class="required">
                    {{ form.city.errors }}
                    {{ form.city.label_tag }}
                    {{ form.city }}
                </div>
                <div class="required">
                    {{ form.zip_code.errors }}
                    {{ form.zip_code.label_tag }}
                    {{ form.zip_code }}
                </div>
                <div class="required">
                    {{ form.country.errors }}
                    {{ form.country.label_tag }}
                    {{ form.country }}
                </div>
            </div>
            <div class="box">
                <div class="required">
                    {{ form.share_number.errors }}
                    {{ form.share_number.label_tag }}
                    {{ form.share_number }}
                </div>
            </div>
        {% endif %}


        {% if wizard.steps.prev %}
        <div id="nav">
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Corriger</button>
        </div>
        {% endif %}

        <div id="confirm">
            <input id="prendre-part" type="submit" value="Prendre part"/>
        </div>
    </form>
{% endblock %}
