{% extends "subscribe/base_forms.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block id %}cooperating{% endblock %}


{% block content %}
    <div id="foo">
<span class="arrow-money">
                                    <span class="inner">je  prends<br>une part à<br><span class="price">20<sup>€</sup><sub>ou&nbsp;+</sub></span></span>
                                </span>
    <div id="steps">
        <div class="active">Enregistrement</div>
    </div>

    <form id="cooperation" action="" method="post" class="step-{{ wizard.steps.step1 }} cooperation">
        {% csrf_token %}
        {{ wizard.management_form }}


        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ form.non_field_errors }} 

            <div class="form-wrapper">
                <div class="form-chunk">
                    <div class="box table">
                        <div class="table-row required">
                            {{ form.title.label_tag }}
                            <div class="table-cell">
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.first_name.label_tag }}
                            <div class="table-cell">
                                {{ form.first_name }}
                                {{ form.first_name.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.last_name.label_tag }}
                            <div class="table-cell">
                                {{ form.last_name }}
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.email.label_tag }}
                            <div class="table-cell">
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-chunk">
                    <div class="box table">
                        <div class="table-row required">
                            {{ form.street.label_tag }}
                            <div class="table-cell">
                                {{ form.street }}
                                {{ form.street.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.number.label_tag }}
                            <div class="table-cell">
                                {{ form.number }}
                                {{ form.number.errors }}
                            </div>
                        </div>
                        <div class="table-row">
                            {{ form.letterbox.label_tag }}
                            <div class="table-cell">
                                {{ form.letterbox }}
                                {{ form.letterbox.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.city.label_tag }}
                            <div class="table-cell">
                                {{ form.city }}
                                {{ form.city.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.zip_code.label_tag }}
                            <div class="table-cell">
                                {{ form.zip_code }}
                                {{ form.zip_code.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.country.label_tag }}
                            <div class="table-cell">
                                {{ form.country }}
                                {{ form.country.errors }}
                            </div>
                        </div>
                        <div class="table-row required">
                            {{ form.share_number.label_tag }}
                            <div class="table-cell">
                                {{ form.share_number }}
                                {{ form.share_number.errors }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <div id="confirm">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Corriger</button>
            {% endif %}

            <input id="prendre-part" type="submit" value="Prendre part"/>
        </div>
    </form>
    </div>
{% endblock %}
