{% extends "subscribe/base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h2>J'ai pris part</h2>

    <div id="done">
        <p>
        Pour terminer l'enregistrement,
        nous vous prions de transférer aujourd'hui <strong>{{ amount }}&nbsp;euros</strong> sur le compte 
        BE65&nbsp;5230&nbsp;8066&nbsp;7396  (BIC:&nbsp;TRIOBEBB). 
        </p>
        <p>
        Pour faciliter le travail administratif,
        prière d’utiliser seulement la communication structurée <strong>{{ communication }}</strong>.
        </p>
        <p>Merci !</p>
    </div>



{% endblock %}
