<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Médor</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/reset-css/reset.css">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/style-faq.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/styles.less">


    <script src="static/js/modernizr.custom.08508.js" ></script>
    <script>
		$(function() {
			remy($("main"));

			$("#menu").tocify({
				"selectors": "h3",
				"hashGenerator": "pretty",
				"highlightOffset": 10,
			});
		});
    </script>
</head>

<body>
        <main>
	<div class="wrap">
<h2>Foire aux questions</h2>
            <nav id="menu"></nav>
 <h3>Pourquoi ne peut-on pas encore lire un article de Médor&nbsp;?</h3>

Parce que Médor mise sur la création de bonnes conditions de travail pour permettre 

des articles journalistiques avec de la recherche, du fond, du talent. Sans appui financier, 

lancer dès aujourd’hui des articles pour Médor demanderait de la part des producteurs 

de sens (journaliste, graphiste, photographe,...) une intervention bénévole. Ce serait une 

première entorse à nos principes. Donc, il n’y aura pas d’article de Médor sans un cadre 

qui permet d’assurer la qualité des papiers produits.
 
 <h3>Ok, mais on se base sur quoi alors pour soutenir Médor&nbsp;?</h3>

<a href="http://www.medor.coop/">Ce site</a> vous explique la manière dont Médor entend approcher le journalisme. C’est

un peu comme si au lieu de gouter le plat du jour d’un restaurant, celui-ci vous ouvre 

les cuisines, explique comment les aliments seront choisis, les recettes partagés et 

améliorés. Mais le plat ne sera servi que si le restaurant a la garantie de pouvoir cuisiner 

selon ses principes.

 <h3>3800 abonnés, 25.000 euros de fond, c’est pas un peu beaucoup&nbsp;? </h3>

3700 abonnés, 30.000 euros, c’est le cout vérité d’une presse de qualité où tout le monde

est correctement rémunéré. En dessous, c’est de l’exploitation, des subsides ou du 

bénévolat. On ne veut aucun des trois. 

Pour les utilisateurs de Cambio : avec Cambio, quand vous faites un court trajet de 10 

kms, vous payez 10 euros. Cela paraît beaucoup. En, fait, c’est le cout vérité de la voiture, 

tout compris. 

C’est la même chose avec Médor.

 <h3>Médor se dit pour tous, ouvert, social, mais il coutera quand même 15 euros… </h3>

Argl. Bien joué. Là vous marquez un point… 15 euros c’est cher.

Juste quand même pour vous dire que si une personne relève des conditions de l’<a href="http://www.article27.be/">article 27</a> (chômeur ou assimilé), on envoie le mag’ au prix coutant. Ce n’est pas transcendant, 

mais c’est déjà ça.

 <h3>«&nbsp;Novateur&nbsp;», et blablabla que je suis le meilleur, on se la joue grand seigneur chez

Médor… </h3>

Coopérative, décisions communes, hiérarchie tournante, structure horizontale, logiciels

libres, salaires décents pour tous, transparence des comptes, vous en connaissez 

beaucoup des médias comme ça ? 

Ca c’est pour le processus. On va essayer aussi de booster les rubriques. 

Pour le mag que vous aurez en mains, on ne prétend pas réinventer le journalisme. Faire

du journalisme de qualité avec des infos uniques et un vrai ton, ce sera déjà formidable.

 <h3>Ca sert à quoi la hiérarchie tournante&nbsp;? </h3>

A obliger de considérer les arguments plutôt que les statuts. A empêcher la sclérose

mentale du type au sommet qui pense tout seul. A partager les charges et les 

responsabilités. A les ouvrir à des extérieurs si on trouve ça intéressant.

 <h3>Paraît que vous voulez être drôle, aussi&nbsp;?</h3>

Disons qu’on en a beaucoup parlé mais ce n’est pas facile à définir, ou à décréter. Disons

qu’on est attentif à ce que les sujets de Médor ait un potentiel humoristique (un tour 

européen avec des touristes chinois est plus prometteur que le récit d’un viol collectif 

d’une ado par exemple). Le reste, l’écriture, cela tient de la dimension artistique. Donc 

c’est fragile et personnel.


<h3> De la pub&nbsp;?! Mais non&nbsp;?!</h3>
Mais si. Des produits ou des événements valent la peine d’être promus.

Et puis, l’apport de la pub est à ce point marginal qu’aucun annonceur n’aura d’emprise 

sur nous (au contraire des coopérateurs). Et les subsides, avoir les pouvoirs publics 

comme principal annonceur, c’est rassurant ça&nbsp;?
 <h3>Au service du lecteur&nbsp;? </h3>

Oui parce que c’est lui que nous voulons nourrir. Mais pas à la botte du lecteur (il ne

nous dicte pas les choix rédactionnels selon ses envies de lecture, des conseils ‘conso’, 

etc.)

 <h3>Indépendant, et comment&nbsp;? </h3>

Nos «&nbsp;Rupper Murdoch&nbsp;» sont des centaines de coopérateurs. On a de la pub mais en

dose homéopathique (même si adjoindre «&nbsp;homéopathique&nbsp;» à «&nbsp;pub&nbsp;» va en rendre 

plus d’un malade). Et l’essentiel des ressources sont les abonnés. Diversifier, ne pas 

quémander, pas de pitié.

	</div>

        </main>

    <script src="{{ STATIC_URL }}components/less/dist/less-1.7.0.min.js"></script>
    <script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}components/jcarousel/dist/jquery.jcarousel.min.js"></script>
    <script src="{{ STATIC_URL }}components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tocify.min.js"></script>
    <script src="{{ STATIC_URL }}components/ScrollMagic/js/_dependent/greensock/TweenMax.min.js"></script>
    <script src="{{ STATIC_URL }}components/ScrollMagic/js/jquery.scrollmagic.min.js"></script>
        <script src="{{ STATIC_URL }}js/faq.js"></script>

</body>
</html>

