{% extends "base2.html" %}


{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}


{% block content %}

{% addtoblock "css" %}
<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/home.less" />
{% endaddtoblock %}

<main id="main-content">
    <!--<div style="background-color: rgba(57, 145, 79, 255); color: white; padding: 3em 0;">-->
    <div id="intro" class="section">
        <div class="wrapper">
            <div class="row">
                <figure id="cover-content" class="col x1">
                    <img src="/static/img/medor-objet-contenu.png" alt="contenu d'un numéro" style="max-width: 100%;">
                </figure>

                <div class="col x2">
                    <!--<h1>Médor, les yeux ouverts</h1>-->
                    <img src="/static/img/Medor-logo-baseline-fond-clair.svg" style="display: block; margin: 0 auto; width: 50%; margin-bottom: 2.42rem;">
                    {% placeholder intro %}
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->

    <!--<iframe width="100%" height="300px" frameBorder="0" src="https://umap.openstreetmap.fr/en/map/medor-tour_22490?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=true&onLoadPanel=databrowser"></iframe><p><a href="http://umap.openstreetmap.fr/en/map/medor-tour_22490">See full screen</a></p>-->
    
    <!--<div id="news">-->
        <!--<h2>actualités</h2>-->
        <!--{% get_next_events as events %}-->

        <!--{% for event in events %}-->
        <!--<article>-->
            <!--<p>{{ event.dtstart.dt|date:"l j F" }}</p>-->
            <!--<h3>{{ event.summary }}</h3>-->
            <!--<p>{{ event.dtstart.dt|date:"H:i" }} — {{ event.dtend.dt|date:"H:i" }}. {{ event.location }}</p>-->
        <!--</article>-->
        <!--{% endfor %}-->
    <!--</div>-->

    <div id="participate" class="participate">
        <div class="wrapper">
            <div id="subscribe">
                <h2>Abonnez-vous</h2>
                {% include "subscribe/partials/arrow-subscribe.html" %}
                {% placeholder subscribe or %}abonnez-vous{% endplaceholder %}
                <details>
                    <summary>Pourquoi s'abonner&thinsp;?</summary>
                    {% placeholder why-subscribe or %}parce que{% endplaceholder %}
                </details>
            </div>
            <div id="cooperate">
                <h2>Devenez coopérateur</h2>
                {% include "subscribe/partials/arrow-cooperate.html" %}
                {% placeholder cooperate or %}devenez-cooperateur{% endplaceholder %}
                <details>
                    <summary>Pourquoi devenir cooperateur&thinsp;?</summary>
                    {% placeholder why-cooperate or %}parce que{% endplaceholder %}
                </details>
            </div>
            <div id="donate">
                <h2>Donnez des sous</h2>
                {% include "subscribe/partials/arrow-donate.html" %}
                {% placeholder donate or %}donnez des sous{% endplaceholder %}
            </div>
        </div>
    </div>

    <div id="magazine" class="main-section section">
        <div class="wrapper">
            <!--<figure id="cover-detail" class="cover">-->
                <!--<img src="/static/img/medor-objet-mag.png" alt="premier numéro">-->
            <!--</figure>-->

            <h2>Médor,<br>c'est un magazine</h2>

            <div id="dna" class="narrow multicol multicolx2">
                <div class="dna-item no-break">
                    {% placeholder belge or %}belge{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder speleologue or %}spéléogue{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder libre or %}libre{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder enthousiasmant or %}enthousiasmant{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder inventeur or %}inventeur{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder imparfait or %}imparfait{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder digne or %}digne{% endplaceholder %}
                </div>
            </div>
        </div>
    </div>

    <div id="collaborative-experience" class="main-section section">
        <div class="wrapper">
            <h2>Médor,<br>c'est une experience collaborative</h2>
            <div class="narrow">
                {% placeholder collaborative-experience or %}Médor, c'est une expérience collaborative…{% endplaceholder %}

                <details>
                    <summary>Colophon de cette première page</summary>
                    {% placeholder colophon or %}colophon{% endplaceholder %}
                </details>
            </div>
        </div>
    </div>

    <div id="accounting" class="main-section section">
        <div class="wrapper">
            <h2>Médor,<br>c'est 3&thinsp;800 abonnés et 226&thinsp;452&thinsp;€</h2>
            <div class="narrow">
                {% placeholder 3800-abonnes or %}3800 abonnés{% endplaceholder %}
                <details>
                    <summary>Plus de détails</summary>
                    {% placeholder 3800-abonnes-details or %}détails{% endplaceholder %}
                </details>

                <div class="multicol multicolx2">
                    <div class="no-break">
                        {% placeholder cout or %}Le coût d'une enquête{% endplaceholder %}
                        <details>
                            <summary>Plus de détails</summary>
                            {% placeholder cout-details or %}détails{% endplaceholder %}
                        </details>
                    </div>

                    <div class="no-break">
                        {% placeholder frais or %}Les frais de lancement{% endplaceholder %}
                        <details>
                            <summary>Plus de détails</summary>
                            {% placeholder frais-details or %}détails{% endplaceholder %}
                        </details>
                    </div>
                </div>

                {% placeholder pub or %}La pub{% endplaceholder %}
                <details>
                    <summary>Plus de détails</summary>
                    {% placeholder pub-details or %}détails{% endplaceholder %}
                </details>
            </div>
        </div>
    </div>

    <div id="status">
        <div class="wrapper main-section section">
            <h2>Médor,<br>c'est déja</h2>
            <div class="narrow" id="equipe">
                {% placeholder equipe or %}Une équipe{% endplaceholder %}
            </div>
        </div>

        {% include "subscribe/partials/carousel.html" %}

        <div class="wrapper">
            <div class="narrow">
                {% placeholder partenaires-soutiens or %}Des partenaires et des soutiens{% endplaceholder %}
            </div>
        </div>
    </div>

    <div id="now-what" class="section">
        <div class="wrapper main-section">
            <h2>Et maintenant&thinsp;?</h2>
            <div class="narrow">
                {% placeholder approfondissement or %}approfondissement{% endplaceholder %}
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="narrow">
            <blockquote cite="http://www.ttoarendt.com/2014/03/bernard-stiegler-le-front-national-est-un-escamoteur.html">
                <p>« <span class="small">[…]</span>&nbsp;une révolution est simplement  ce qui se produit quand un cycle est révolu. »</p>
                <footer><cite><a target="_blank" href="http://www.ttoarendt.com/2014/03/bernard-stiegler-le-front-national-est-un-escamoteur.html">Bernard  Stiegler</a></cite></footer>
            </blockquote>
        </div>
    </div>
</main>
{% endblock %}
