{% extends "base2.html" %}


{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}


{% block content %}

{% addtoblock "css" %}
{% if debug %}
<!-- This is the client-side way to compile less and an ok choice for local dev -->
<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/home.less" />
{% else %}
{% compress css %}
<!-- This is the nifty django-compressor way to compile your less files in css -->
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/home.less" charset="utf-8">
{% endcompress %}
{% endif %}
{% endaddtoblock %}


<main id="main-content">
    <div class="cover">
        <div class="cover__wrapper">
            <ol id="menu">
                <li><a href="#intro">Médor</a></li>
                <li><a href="#participate">souscriptions</a></li>
                <li><a href="#status">quoi&thinsp;?</a></li>
                <li><a href="#">comment&thinsp;?</a></li>
                <li><a href="#">combien&thinsp;?</a></li>
                <li><a href="#">qui&thinsp;?</a></li>
                <li><a href="#">maintenant&thinsp;?</a></li>
            </ol>
        </div>
    </div>
    
    <div id="intro" class="section">
        <div class="wrapper">
            <div class="narrow">
                <!-- FIXME: semantic and positioning -->
                <img src="{{ STATIC_URL }}img/medor-anim.gif" alt="dessin animé" class="bonhomme">
                <!--<h1><img src="{{ STATIC_URL }}img/Medor-logo-baseline-fond-clair.svg" alt="Médor, les yeux ouverts" /></h1>-->
                <h1><img src="{{ STATIC_URL }}img/medor.svg" alt="Médor, les yeux ouverts" /></h1>
            </div>

            <div class="row">
                <figure id="cover-content" class="col col--x1">
                    <img src="/static/img/medor-objet-contenu.png" alt="contenu d'un numéro">
                </figure>

                <div class="col col--x2 multicol multicol--x2">
                    {% placeholder intro %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div id="in-action" class="table">
            <div id="news" class="table__cell">
                <h2>Les rendez-vous Médor</h2>
                {% get_next_events as events %}

                {% for event in events %}
                <article>
                    <p>{{ event.dtstart.dt|date:"l j F" }}</p>
                    <h1>{{ event.summary }}</h1>
                    <p>{{ event.dtstart.dt|date:"H:i" }} — {{ event.dtend.dt|date:"H:i" }}. {{ event.location }}</p>
                </article>
                {% endfor %}

                <!--<iframe width="100%" height="300px" frameBorder="0" src="https://umap.openstreetmap.fr/en/map/medor-tour_22490?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=true&onLoadPanel=databrowser"></iframe><p><a href="http://umap.openstreetmap.fr/en/map/medor-tour_22490">See full screen</a></p>-->
            </div>

            <div id="participate" class="table__cell">
                <div class="table">
                    <div id="subscribe" class="table__cell  block block--subscribe">
                        <h2 data-shortname="souscriptions">Abonnez-vous</h2>
                        {% include "subscribe/partials/arrow-subscribe.html" %}
                        {% placeholder subscribe or %}abonnez-vous{% endplaceholder %}
                        <details>
                            <summary>Pourquoi s'abonner&thinsp;?</summary>
                            {% placeholder why-subscribe or %}parce que{% endplaceholder %}
                        </details>
                    </div>
                    <div id="cooperate" class="table__cell  block block--cooperate">
                        <h2>Devenez coopérateur</h2>
                        {% include "subscribe/partials/arrow-cooperate.html" %}
                        {% placeholder cooperate or %}devenez-cooperateur{% endplaceholder %}
                        <details>
                            <summary>Pourquoi devenir cooperateur&thinsp;?</summary>
                            {% placeholder why-cooperate or %}parce que{% endplaceholder %}
                        </details>
                    </div>
                </div>
                <div class="table">
                    <div id="donate" class="table__cell  block block--donate">
                        <h2>Donnez des sous</h2>
                        {% include "subscribe/partials/arrow-donate.html" %}
                        {% placeholder donate or %}donnez des sous{% endplaceholder %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="magazine" class="main-section section">
        <h2 data-shortname="quoi?"><span>Médor,<br>c'est un magazine</span></h2>

        <div class="wrapper">
            <div class="cover">
                <div class="cover__wrapper">
                    <figure id="cover-detail" class="cover__wrapper__item">
                        <img src="{{ STATIC_URL }}img/medor-objet-mag.png" alt="premier numéro" />
                    </figure>
                </div>
            </div>

            <div id="dna" class="narrow multicol multicol--x2">
                <div class="dna-item no-break">
                    {% placeholder belge or %}belge{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder speleologue or %}spéléogue{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder libre or %}libre{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder enthousiasmant or %}enthousiasmant{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder inventeur or %}inventeur{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder imparfait or %}imparfait{% endplaceholder %}
                </div>
                <div class="dna-item no-break">
                    {% placeholder digne or %}digne{% endplaceholder %}
                </div>
            </div>
        </div>
    </div>

    <div id="collaborative-experience" class="main-section section">
        <h2 data-shortname="comment?"><span>Médor,<br>c'est une experience<br>collaborative</span></h2>

        <div class="wrapper">
            <div class="cover">
                <div class="cover__wrapper">
                    <figure id="cover-coop" class="cover__wrapper__item">
                        <img src="{{ STATIC_URL }}img/medor-objet-coop.png" alt="organisation de Médor" />
                    </figure>
                </div>
            </div>

            <div class="narrow">
                {% placeholder collaborative-experience or %}Médor, c'est une expérience collaborative…{% endplaceholder %}

                <details>
                    <summary>Colophon de cette première page</summary>
                    {% placeholder colophon or %}colophon{% endplaceholder %}
                </details>
            </div>
        </div>
    </div>

    <div id="accounting" class="main-section section">
        <h2 data-shortname="combien?"><span>Médor,<br>c'est 3&thinsp;800 abonnés<br>et 226&thinsp;452&thinsp;€</span></h2>

        <div class="wrapper">
            <div class="cover">
                <div class="cover__wrapper">
                    <figure id="cover-budget" class="cover__wrapper__item">
                        <img src="{{ STATIC_URL }}img/medor-objet-budget.png" alt="répartition du budget"/>
                    </figure>
                </div>
            </div>

            <div class="narrow">
                {% placeholder 3800-abonnes or %}3800 abonnés{% endplaceholder %}
                <details>
                    <summary>Plus de détails</summary>
                    {% placeholder 3800-abonnes-details or %}détails{% endplaceholder %}
                </details>

                <div class="multicol multicol--x2">
                    <div class="no-break">
                        {% placeholder cout or %}Le coût d'une enquête{% endplaceholder %}
                        <details>
                            <summary>Plus de détails</summary>
                            {% placeholder cout-details or %}détails{% endplaceholder %}
                        </details>
                    </div>

                    <div class="no-break">
                        {% placeholder frais or %}Les frais de lancement{% endplaceholder %}
                        <details>
                            <summary>Plus de détails</summary>
                            {% placeholder frais-details or %}détails{% endplaceholder %}
                        </details>
                    </div>
                </div>

                {% placeholder pub or %}La pub{% endplaceholder %}
                <details>
                    <summary>Plus de détails</summary>
                    {% placeholder pub-details or %}détails{% endplaceholder %}
                </details>
            </div>
        </div>
    </div>

    <div id="status" class="main-section">
        <h2 data-shortname="qui?"><span>Médor,<br>c'est déja</span></h2>

        <div class="wrapper section">
            <div class="narrow" id="equipe">
                {% placeholder equipe or %}Une équipe{% endplaceholder %}
            </div>
        </div>

        {% include "subscribe/partials/carousel.html" %}

        <div class="wrapper main-section">
            <div class="narrow">
                {% placeholder partenaires-soutiens or %}Des partenaires et des soutiens{% endplaceholder %}
            </div>
        </div>
    </div>

    <div id="now-what" class="main-section section">
        <h2 data-shortname="maintenant?"><span>Et maintenant&thinsp;?</span></h2>

        <div class="wrapper main-section">
            <div class="narrow">
                {% placeholder approfondissement or %}approfondissement{% endplaceholder %}
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="narrow">
            <div class="table">
                <div class="table__cell block--subscribe">
                {% include "subscribe/partials/arrow-subscribe.html" %}
                </div>
                <div class="table__cell block--cooperate">
                {% include "subscribe/partials/arrow-cooperate.html" %}
                </div>
            </div>


            <blockquote cite="http://www.ttoarendt.com/2014/03/bernard-stiegler-le-front-national-est-un-escamoteur.html" class="stiegler">
                <p>« <span class="small">[…]</span>&nbsp;une révolution est simplement  ce qui se produit quand un cycle est révolu. »</p>
                <footer><cite><a target="_blank" href="http://www.ttoarendt.com/2014/03/bernard-stiegler-le-front-national-est-un-escamoteur.html">Bernard  Stiegler</a></cite></footer>
            </blockquote>
        </div>
    </div>
</main>

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}components/ScrollMagic/js/jquery.scrollmagic.debug.js"></script>
<script src="{{ STATIC_URL }}js/longform2.js"></script>
{% endaddtoblock %}
{% endblock %}
