{% extends "base3.html" %} {% block content %}

<article>
    <header>
        <h1>On y est presque&thinsp;!</h1>
    </header>



<form action="" method="post">{% csrf_token %}
    {{ wizard.management_form }}
    
    {% with wizard.form as form %}
    {{ form.non_field_errors }}

    <p>Voici le récapitulatif de votre commande&thinsp;:</p>

    <ul>
    {% if infos.per_items %}
    {% for i in infos.per_items %}
        <li>{{ i.name }}. {{ i.price }} €</li>
    {% endfor %}
    {% endif %}

    {% if infos.subscriptions %}
    {% for i in infos.subscriptions %}
        <li>{{ i.name }}. {{ i.price }} €</li>
    {% endfor %}
    {% endif %}
    </ul>

    <p>Attention, en cas d’envoi hors Belgique, des frais supplémentaires s’appliqueront.</p>

    <div class="jadore__btn_set">
        <button class="jadore__btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">corriger</button>
    </div>

    <div class="flex jadore jadore--details">
        <div class="flex__item">
            <p class="jadore__title" style="font-size: 24px; line-height: 1;">Qui êtes-vous&thinsp;?</p>
            <br>
            <div class="fieldWrapper">
                {{ form.order_first_name.errors }}
                <label for="{{ form.order_first_name.id_for_label }}">prénom&thinsp;:</label>
                {{ form.order_first_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_last_name.errors }}
                <label for="{{ form.order_last_name.id_for_label }}">nom&thinsp;:</label>
                {{ form.order_last_name }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_organization.errors }}
                <label for="{{ form.order_organization.id_for_label }}">organisation (optionnel)&thinsp;:</label>
                {{ form.order_organization }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_email.errors }}
                <label for="{{ form.order_email.id_for_label }}">courriel&thinsp;:</label>
                {{ form.order_email }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_email_verification.errors }}
                <label for="{{ form.order_email_verification.id_for_label }}">courriel (vérification)&thinsp;:</label>
                {{ form.order_email_verification }}
            </div>
            <div class="fieldWrapper">
                {{ form.order_is_gift.errors }}
                <label for="{{ form.order_is_gift.id_for_label }}">ceci est un cadeau</label>
                {{ form.order_is_gift }}
            </div>
        </div>
        <div class="flex__item">
            <p class="jadore__title shipping-title" style="font-size: 24px; line-height: 1;">Informations de livraison</p>
            <br>
            <div class="additional">
                <div class="fieldWrapper">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}">prénom&thinsp;:</label>
                    {{ form.first_name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.last_name.errors }}
                    <label for="{{ form.last_name.id_for_label }}">nom&thinsp;:</label>
                    {{ form.last_name }}
                </div>
                <div class="fieldWrapper">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">courriel&thinsp;:</label>
                    {{ form.email }}
                </div>
            </div>
            <div class="fieldWrapper">
                {{ form.street.errors }}
                <label for="{{ form.street.id_for_label }}">rue&thinsp;:</label>
                {{ form.street }}
            </div>
            <div class="fieldWrapper">
                {{ form.number.errors }}
                <label for="{{ form.number.id_for_label }}">numéro&thinsp;:</label>
                {{ form.number }}
            </div>
            <div class="fieldWrapper">
                {{ form.box.errors }}
                <label for="{{ form.box.id_for_label }}">boîte (optionnel)&thinsp;:</label>
                {{ form.box }}
            </div>
            <div class="fieldWrapper">
                {{ form.postcode.errors }}
                <label for="{{ form.postcode.id_for_label }}">code postal&thinsp;:</label>
                {{ form.postcode }}
            </div>
            <div class="fieldWrapper">
                {{ form.city.errors }}
                <label for="{{ form.city.id_for_label }}">ville&thinsp;:</label>
                {{ form.city }}
            </div>
            <div class="fieldWrapper">
                {{ form.country.errors }}
                <label for="{{ form.country.id_for_label }}">pays&thinsp;:</label>
                {{ form.country }}
            </div>
        </div>
    </div>
    {% endwith %} 
    
    <div class="jadore__btn_set">
        <input class="jadore__btn" type="submit" value="continuer" />
    </div>
</form>
</article>
<script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
<script>
$(function() {
    var $is_gift = $('#id_1-order_is_gift');
    var $additional = $('.additional');
    var $header = $('.shipping-title');

    $is_gift.on('change', function(event) {
        if ($(this).prop("checked")) {
            $additional.show();  
            $header.text('Coordonnées du bénéficiaire')
        } else {
            $additional.hide();  
            $header.text('Informations de livraison')
        };
    });

    if ($is_gift.prop("checked")) {
        $additional.show();  
        $header.text('Coordonnées du bénéficiaire')
    } else {
        $additional.hide();  
        $header.text('Information de livraison')
    };
});
</script>
{% endblock %}
