{% extends "subscribe/base_forms.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block id %}subscribing{% endblock %}

{% block content %}
    <div id="foo">
<span class="arrow-money">
                                    <span class="inner">je m’abonne<br><span class="price">60<sup>€</sup></span></span>
                                </span>

    <div id="steps">
            <div class="active">Ça y est &thinsp;!</div>
    </div>


    <div id="done" class="form-wrapper">
            <div style="display: inline-block">
        <p>Vous venez de vous abonner à Médor. Excellente idée&thinsp;! C’est la meilleure manière de nous permettre de travailler en toute indépendance dans des conditions dignes.</p>

        <p>Attention! Votre abonnement débute à partir du numéro publié après réception de votre payement. Les numéros précédents sont disponibles dans <a
            href="https://medor.coop/fr/magazine/acheter/">350 points de
            vente</a>.</p>

        <p>Si cet abonnement est pour offrir, <a href="https://medor.coop/media/cadeau.pdf">téléchargez le bon-cadeau</a>.</p>

        <p>Nous vous invitons à régler dès aujourd’hui <strong>{{ obj.amount }} &nbsp;euros</strong> par virement sur le compte ING <strong>BE85&nbsp;3631&nbsp;6228&nbsp;7306</strong> (BIC&thinsp;:&nbsp;BBRUBEBB) avec la communication structurée&thinsp;:</p>

        <p><strong>{{ obj.structured_communication }}</strong></p>
        </div>
            <div style="display: inline-block">

        <p>Si votre système bancaire ne permet pas de faire une communication structurée mais uniquement des chiffres, entrez <strong>{{ obj.simple_communication }}</strong>. Pour toute question ou difficulté relative à ce paiement, contactez-nous à l'adresse <a href="mailto:lesyeuxouverts@medor.coop">lesyeuxouverts@medor.coop</a>.</p>

        <p>Merci pour votre soutien&thinsp;!</p>

        <p>L’équipe de Médor<br />
        <a href="https://medor.coop">www.medor.coop</a> — <a
           href="http://www.facebook.com/medormag">www.facebook.com/medormag</a></p>
        </div>
    </div>
    </div>
{% endblock %}
