{% extends "subscribe/base_forms.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h2>Je m’abonne</h2>

    <div id="steps">
            <div class="active">Ça y est !</div>
    </div>


    <div id="done">
        <p>
        Pour terminer l’abonnement,
        nous vous prions de transférer aujourd’hui <strong>60&nbsp;euros</strong> sur le compte 
        BE&nbsp;96&nbsp;5230&nbsp;8068&nbsp;7305 (BIC:&nbsp;TRIOBEBB). 
        </p>
        <p>
        Pour faciliter le travail administratif,
        prière d’utiliser seulement la communication structurée <strong>{{ communication }}</strong>.
        </p>
        <p>Merci !</p>
    </div>



{% endblock %}
