.infos {
    font-size: smaller;
}

#main-content strong {
    font-weight: bold;
    color: inherit;
}

#main-content header {
    margin-bottom: 2em;
}

#main-content h2 {
    text-align: left;
    margin-bottom: 0.3em;
}

.blog-visual {
    margin-bottom: 1.21em;
}

.read-more {
    margin-top: 1.21em;
}
