Django==1.7.1
Django-Select2==4.3.1
Markdown==2.6.2
Pillow==2.9.0
South==1.0.2
Unidecode==0.04.18
argparse==1.2.1
cmsplugin-filer==0.10.1
cssmin==0.2.0
django-admin-enhancer==1.0.0
django-appconf==1.0.1
django-classy-tags==0.6.2
django-cms==3.0.7
django-compressor==1.4
django-filer==0.9.8
django-meta==0.3.1
django-meta-mixin==0.1.1
django-mptt==0.6.1
django-parler==1.5
django-phonenumber-field==0.6
django-polymorphic==0.7.1
django-registration-redux==1.2
django-reversion==1.9.3
django-sekizai==0.8.2
django-taggit==0.17.0
django-taggit-autosuggest==0.2.7
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
djangocms-admin-style==0.2.8
djangocms-blog==0.5.0
djangocms-text-ckeditor==2.4.1
easy-thumbnails==2.2
html5lib==0.999999
icalendar==3.8.4
phonenumbers==6.2.0
python-memcached==1.53
pytz==2014.7
requests==2.5.1
six==1.9.0
unicodecsv==0.9.4
wsgiref==0.1.2
