Django<1.9
pytz


# Django CMS
django-cms<3.3
django-treebeard>=2.0

djangocms-admin-style>=1.0.6

django-classy-tags>=0.3.4.1
django-sekizai>=0.7

# Optional, recommended packages
djangocms-text-ckeditor>=3.0.1

djangocms-column
djangocms-googlemap
djangocms-inherit
djangocms-link
djangocms-style

django-reversion>=1.8.7,<1.9
django-reversion-compare<0.6

easy_thumbnails
django-filer>=0.9.12
cmsplugin-filer>=0.10.2
Pillow>=2.3


# Exporting data to csv with unicode support
unicodecsv==0.9.4

# Event list on the homepage (subscribe_tags)
caldav==0.4.0

# Django compressor
django-compressor==1.4
cssmin==0.2.0

# Caching
python-memcached==1.53

# Registration, so people can create themselves accounts
django-registration-redux

# Markdown, to format article proposals
Markdown>=2

# Application publish
django-admin-sortable2
djangorestframework
django-filter==0.11.0
django-cors-headers==1.1.0
django-ckeditor==5.0.2

# Upgrade to dj 1.8 needs this
django-formtools

# Temporarilly fixes <https://github.com/divio/djangocms-text-ckeditor/pull/335>
html5lib>=0.90,!=0.9999,!=0.99999,<0.99999999
