@font-face {
    font-family: 'Century';
    src: url('/static/fonts/century-catalogue-webfont.eot');
    src: url('/static/fonts/century-catalogue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/century-catalogue-webfont.woff2') format('woff2'),
         url('/static/fonts/century-catalogue-webfont.woff') format('woff'),
         url('/static/fonts/century-catalogue-webfont.ttf') format('truetype'),
         url('/static/fonts/century-catalogue-webfont.svg#century_catalogueroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century';
    src: url('/static/fonts/centuryschl-ital.otf');
    src: url('/static/fonts/centuryschl-ital-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/centuryschl-ital-webfont.woff') format('woff'),
         url('/static/fonts/centuryschl-ital-webfont.ttf') format('truetype'),
         url('/static/fonts/centuryschl-ital-webfont.svg#centuryschl-ital') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'alfphabetbipocatcondensed';
    src: url('/static/fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('/static/fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('/static/fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('/static/fonts/alfphabetbipocat-condensed-webfont.svg#alfphabetbipocatcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alfphabet-IV';
    src: url('/static/fonts/Alfphabet-IV.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Career';
    src: url('/static/fonts/career-webfont.eot');
    src: url('/static/fonts/career-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/career-webfont.woff2') format('woff2'),
         url('/static/fonts/career-webfont.woff') format('woff'),
         url('/static/fonts/career-webfont.ttf') format('truetype'),
         url('/static/fonts/career-webfont.svg#careermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'urw-grotesk-t';
    src: url('/static/fonts/urwgroteskt-bold-webfont.eot');
    src: url('/static/fonts/urwgroteskt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/urwgroteskt-bold-webfont.woff') format('woff'),
         url('/static/fonts/urwgroteskt-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/urwgroteskt-bold-webfont.svg#urw_grotesk_tbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

