/* less variables {{{ */
@color-A1: rgba(42, 133, 164, 255);
@color-A2: rgba(177, 69, 66, 255);
@color-A3: rgba(255, 254, 53, 255);
@color-A4: rgba(57, 145, 79, 255);
@color-B2: rgba(219, 40, 35, 255);
@color-B3: rgba(255, 253, 115, 255);
@color-B4: rgba(225, 241, 122, 255);
@color-C1: rgba(137, 203, 225, 255);
@color-C2: rgba(249, 49, 52, 255);
@color-C3: rgba(250, 181, 71, 255);
@color-C4: rgba(243, 253, 207, 255);
@color-D1: rgba(169, 213, 222, 255);
@color-D3: rgba(247, 229, 149, 255);
@color-E1: rgba(233, 234, 225, 255);
@color-E3: rgba(254, 250, 194, 255);
/* }}} */
/* fonts {{{ */
@font-face {
    font-family: 'centurycatalogue';
    src: url('/static/fonts/century-catalogue-webfont.eot');
    src: url('/static/fonts/century-catalogue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/century-catalogue-webfont.woff2') format('woff2'),
         url('/static/fonts/century-catalogue-webfont.woff') format('woff'),
         url('/static/fonts/century-catalogue-webfont.ttf') format('truetype'),
         url('/static/fonts/century-catalogue-webfont.svg#century_catalogueroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'alfphabetbipocatcondensed';
    src: url('/static/fonts/alfphabetbipocat-condensed-webfont.eot');
    src: url('/static/fonts/alfphabetbipocat-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/alfphabetbipocat-condensed-webfont.woff') format('woff'),
         url('/static/fonts/alfphabetbipocat-condensed-webfont.ttf') format('truetype'),
         url('/static/fonts/alfphabetbipocat-condensed-webfont.svg#alfphabetbipocatcondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Alfphabet-IV';
    src: url('/static/fonts/Alfphabet-IV.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Career';
    src: url('/static/fonts/Career.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'urw-grotesk-t';
    src: url('/static/fonts/urwgroteskt-bold-webfont.eot');
    src: url('/static/fonts/urwgroteskt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/urwgroteskt-bold-webfont.woff') format('woff'),
         url('/static/fonts/urwgroteskt-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/urwgroteskt-bold-webfont.svg#urw_grotesk_tbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/* }}} */

