@import "colors.less";
@import "mixins.less";
@import "fonts.less";

body {
    font-family: "centurycatalogue";
    font-size: 20px;
    line-height: 1.22;
}
body {
    margin: 30px 150px;
}

a {
text-decoration: none;
color: #b14542;
}
p + p { margin-top: 1.22em; }
strong {
    border-bottom: 1px double black;
}

#outer-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 640px;
}

h1 { text-align: center; }

.form-wrapper {
    .column-count(2);
    .column-gap(30px);
    .column-rule(6px double white);
}

label {
    font-family: 'alfphabetbipocatcondensed';
    color: @color-E1;
}

.required label {
    color: black;
}

#steps {
    font-family: 'urw-grotesk-t';
    text-align: center;
    width: 100%;
}

.active {
    border: .25em solid;
    background-color: white;
    margin: 25px 0;
    padding: 12.5px;
    border-color: #2a85a4;
    color: #2a85a4;
}

#cooperating .active {
    border-color: #b14542;
    color: #b14542;
}

#address-header { font-family: 'urw-grotesk-t'; }

#confirm {
    text-align: center;
}

button,
input[type="submit"] {
    font-family: 'urw-grotesk-t';
    color: white;
    font-size: 20px;
    border: 0;
    background-color: #2a85a4;
    padding: 0.5em;
}

#cooperating button,
#cooperating input[type="submit"] {
    background-color: #b14542;
}

button,
input[type="submit"]:hover {
    background-color: #fffd73;
    color: black;
}


form { margin-top: 50px; line-height: 1.6em; }
.form-chunk { display: inline-block; width: 100%; }
.table     { display: table; width: 100%; }
.table-row { display: table-row;  }
.table-row > label,
.table-cell { display: table-cell; }
/*.form-chunk:after { display: block: height: 1px width: 100%; content: "b"}*/


input[type="email"],
input[type="text"] { 
    width: 100%; 
    .box-sizing;
    border: 0;
    background-color: white;
    font-family: "centurycatalogue";
    font-size: 18px;
    padding: 0 6.25px;
}

label { white-space: nowrap; padding-right: 1em; }

li { display: inline; }
.errorlist { font-size: 0.75em; color: #B14542; }

.arrow-money {
    border-color: #2a85a4;
    color: #2a85a4;
}
.arrow-money {
    line-height: 6em;
    border: .25em solid;
    border-bottom-width: 1.25em;
    height: 6em;
    width: 7em;
    font-weight: bold;
    font-size: 20px;
    font-family: "urw-grotesk-t";
    background-color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -2em;
    display: block;
}

.arrow-money:before {
    content: "";
    display: block;
    position: absolute;
    width: 4em;
    height: 9em;
    left: -4.5em;
    top: -2.5em;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow-money .inner {
    line-height: .85em;
    vertical-align: middle;
    display: inline-block;
}

#subscribing .arrow-money { border-color: @color-A1; color: @color-A1; }
#subscribing .arrow-money:after { border-color: @color-A1 transparent; }
#cooperating .arrow-money { border-color: @color-A2; color: @color-A2; }
#cooperating .arrow-money:after { border-color: @color-A2 transparent; }

.arrow-money:after {
    border-color: #2a85a4 transparent;
}
.arrow-money:after {
    content: "";
    display: block;
    position: relative;
    left: -1.5em;
    top: 1.25em;
    border-style: solid;
    border-width: 1em 5em 0 5em;
    height: 0;
    width: 0;
}

.arrow-money .price {
    font-family: "alfphabetbipocatcondensed";
    font-size: 3em;
    font-weight: normal;
    line-height: .95em;
    display: inline-block;
    position: relative;
}

.arrow-money .price sup {
    font-size: .60em;
    line-height: 1.2em;
    position: absolute;
    top: 0;
    left: 100%;
}

.arrow-money .price sub {
    font-size: .35em;
    line-height: 1.4em;
    padding-left: .15em;
    position: absolute;
    bottom: 0;
    left: 100%;
}

#foo {
    margin-top: 5em;
    background-color: #A9D5DE;
    padding: 0 30px 30px 30px;
}

#cooperating #foo {
    background-color: #FFFD73;
}

#confirm {
    margin-top: 2em;
}
