/* Ici les styles génériques */

@import "colors.less";
@import "fonts.less";
@import "mixins.less";

#main-content {
    margin-top: 26px + 17px + 17px;
}

h2{
color:@color-A2; 
letter-spacing:0em !important;
text-align: center;
}

nav{
	width: 25%;
	ul{
	margin-top:12px;
	}

}

.wrap {
margin-right: 33.333% !important;
margin-left: 0% !important;
}

/* #menu{
top: 162px;
left: 69%;
	a{
	    padding:0px;
	}
} */

/* body {
	color: red;
} */
