@import "colors.less";
@import "fonts2.less";
@import "mixins.less";


@gutter: 20px;


body {
    font: 17px/1.22 "Century";
}
a {
    text-decoration: none;
    color: inherit;
}
em {
    font-size: 95%;
}

/* reset */
h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
}
p {
    margin: 0;
}
li {
    list-style: none;
}
figure {
    margin: 0;
}
details {
    font-family: 'alfphabetbipocatcondensed';
    font-size: 15px;
    margin-top: 1.21rem;
}
summary {
    border-top: solid black 2px;
    text-align: center;
}

/* main header */
#main-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'alfphabetbipocatcondensed';
    background-color: gold;
    padding: 0.5em;
    text-align: center;
}
#main-header nav,
#main-header ul,
#main-header li,
#main-header form {
    display: inline;
}
#main-header h1 {
    display: none;
}
#main-header form {
    margin: 0 2em;
}
#main-nav li a {
    padding: 0.5em;
}
#main-nav .selected a,
#main-nav li a:hover {
    outline: 3px solid black;
    outline-offset: -2px;
}
#main-nav input {
    border: none;
}
