{% extends "base2.html" %}
{% load compress sekizai_tags %}

{% block meta %}
	{%  if meta %}
		{% include "meta_mixin/meta.html" %}
	{% endif %}
{% endblock meta %}

{% block content %}
{% addtoblock "css" %}
{% if debug %}
<!-- This is the client-side way to compile less and an ok choice for local dev -->
<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/blog.less" />
{% else %}
{% compress css %}
<!-- This is the nifty django-compressor way to compile your less files in css -->
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/blog.less" charset="utf-8">
{% endcompress %}
{% endif %}
{% endaddtoblock %}

<div class="app app-blog span8">
	{% block content_blog %}{% endblock %}
</div>
{% endblock content %}
