<!DOCTYPE html>
<!-- site created with love by http://osp.kitchen/ -->
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}
<html>
<head>
    <meta charset="utf-8">
    {# Quite some generic views provide an `object.title`, but otherwise you can always #}
    {#	manually provide a `title` variable in the context #}
    <title>Médor :: {% firstof object.title title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=.6">
    <!-- og:title should be the same as the title tag, but without the ‘Médor :: ’ bit -->
    <meta property="og:title" content="{% firstof object.title title %}" />
    <!-- No need for a separate og:description as it falls back to meta[name=description]-->
    <meta name="description" content="{% firstof object.description description %}" />

    {% block meta %}{% endblock %}


    {% addtoblock "css" %}
    {% if debug %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize.css/normalize.css">
    <!-- This is the client-side way to compile less and an ok choice for local dev -->
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}medor/less/style.less" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/font-awesome/css/font-awesome.css"/>
    {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize.css/normalize.css">
    <!-- This is the nifty django-compressor way to compile your less files in css -->
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}medor/less/style.less" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/font-awesome/css/font-awesome.css"/>
    {% endcompress %}
    {% endif %}
    {% endaddtoblock %}

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon-medor_16-16.png">

    {% render_block "css" %}
    <script src="{{ STATIC_URL }}js/modernizr.custom.08508.js" ></script>
</head>

<body>
    {% cms_toolbar %}

	<section>

    <div class="menu group">
        <div class="logo">
            <a href="{% url 'feed' %}"><img src="{{ STATIC_URL }}img/medor-centre.svg"></a>
        </div>
        <ul>
            {% show_menu 0 100 100 100 %}

            <li class="child sibling">
                <form target="_blank" id="newsletter" method="post" action="https://medor.coop/liste/process.php" name="signup">
                    <label for="Email">Newsletter:</label>
                    <input type="text" name="Email" id="email" maxlength="120" value="" />
                    <input type="hidden" name="d[10]" value="on" />
                    <!--*** DO NOT CHANGE  name="pommo_signup" ! *** If you’d like to change the button text change  the "value=" text.-->
                    <input type="hidden" name="pommo_signup" value="true" />
                    <input class="button" type="submit" value="OK" />
                </form>
            </li>
            <li class="child sibling"><a href="https://twitter.com/Medor_mag" class="btn-twt"><i class="fa fa-twitter"></i></a></li>
            <li class="child sibling"><a href="https://www.facebook.com/medormag" class="btn-fb"><i class="fa fa-facebook-official"></i></a></li>
        </ul>
    </div>


    {% block content %}{% endblock %}
    <footer class="fullwidth group">
        <ul>
        	
			<li class="child sibling">
				<a href="{% page_url 'contact' %}">Contact</a>			
			</li>
			<li class="child sibling">
				<a href="{% page_url 'mentions-legales' %}">Mentions légales</a>
			</li>
			<li class="child sibling">
				<a href="{% page_url 'magazine' %}#equipe">Qui sommes nous&thinsp;?</a>	
			</li>
			<li class="child sibling">
				<a href="{% page_url 'faq' %}">FAQ</a>				
			</li>
        </ul>
    </footer>


	</section>

    <script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}components/details-tag/jquery.details.js" ></script>
    <script src="{{ STATIC_URL }}components/jcarousel/dist/jquery.jcarousel.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tocify.min.js"></script>
    <script src="{{ STATIC_URL }}components/ScrollMagic/js/_dependent/greensock/TweenMax.min.js"></script>
    <script src="{{ STATIC_URL }}components/ScrollMagic/js/jquery.scrollmagic.min.js"></script>
    <script src="{{ STATIC_URL }}js/carousel.js"></script>
    <script src="{{ STATIC_URL }}medor/js/clarisse.js"></script>
    <script src="{{ STATIC_URL }}medor/js/header.js"></script>

    {% if debug %}
    <script src="{{ STATIC_URL }}components/less/dist/less.js"></script>
    {% endif %}

    {% render_block "js" %}



    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//medor.coop/stats/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//medor.coop/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
