<!DOCTYPE html>
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}
<html>
<head>
    <meta charset="utf-8">
    <title>Médor</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}{% endblock %}


    {% addtoblock "css" %}
    {% if debug %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize.css/normalize.css">
    <!-- This is the client-side way to compile less and an ok choice for local dev -->
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}medor/less/style.less" />
    {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}components/normalize.css/normalize.css">
    <!-- This is the nifty django-compressor way to compile your less files in css -->
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}medor/less/style.less" charset="utf-8">
    {% endcompress %}
    {% endif %}
    {% endaddtoblock %}

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon-medor_16-16.png">

    {% render_block "css" %}
    <script src="{{ STATIC_URL }}js/modernizr.custom.08508.js" ></script>
</head>

<body>
    {% cms_toolbar %}


    {% block content %}{% endblock %}


    <script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}components/details-tag/jquery.details.js" ></script>
    <script src="{{ STATIC_URL }}components/jcarousel/dist/jquery.jcarousel.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tocify.min.js"></script>
    <script src="{{ STATIC_URL }}components/ScrollMagic/js/_dependent/greensock/TweenMax.min.js"></script>
    <script src="{{ STATIC_URL }}components/ScrollMagic/js/jquery.scrollmagic.min.js"></script>
    <script src="{{ STATIC_URL }}js/carousel.js"></script>

    {% if debug %}
    <script src="{{ STATIC_URL }}components/less/dist/less-1.7.0.min.js"></script>
    {% endif %}

    {% render_block "js" %}

    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//medor.coop/stats/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//medor.coop/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>

