{% extends "base3.html" %}
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}
{% block content %}

<div class="group">
    <div class="menu">
    
        <ul>
            {% show_menu %}
        </ul>
	
	</div>
</div>

<div class="section">
    <div class="gros-article" style="background-image: url(https://upload.wikimedia.org/wikipedia/en/9/92/Petit_crater_AS11-41-6052.jpg)">
		<div class="gros-extrait">
				<div class="rubrique-title">
					enquète
				</div>	
				
				<div class="titre-article">Quand j'étais flamande</div>
				
				<div class="auteur">
					Par Jean-Michel Leclercq
				</div>
				
				<div class="chapeau-feed">
				Voulant gratter derrière l'histoire d'une grand­‐mère orpheline limbourgeoise adoptée à Liège dans les années 20, notre reporter a arpenté le pays d'une province à l'autre. Chemin faisant,il s'est plongé dans un certain passé belge. 
			</div>
				
				<div class="lire">
				<a href="#">&rarr;</a>
				</div>
		</div>
	</div>

	<div class="sidebar">
	spanning 1 of 4
	</div>
	
	<div class="content">
		<div class="thumbnail">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Fleissner0.svg/140px-Fleissner0.svg.png">
		</div>	
				<div class="rubrique-title">
					enquète
				</div>	
				
				<div class="titre-article">Quand j'étais flamande</div>
				
				<div class="auteur">
					Par Jean-Michel Leclercq
				</div>
				
				<div class="chapeau-feed">
				Voulant gratter derrière l'histoire d'une grand­‐mère orpheline limbourgeoise adoptée à Liège dans les années 20, notre reporter a arpenté le pays d'une province à l'autre. Chemin faisant,il s'est plongé dans un certain passé belge. 
			</div>
	
	
	</div>
	
	<div class="sidebar">
	Sidebar
	<br />spanning 1 of 4
	</div>
	
    <div class="sidebar">
	Sidebar
	<br />spanning 1 of 4
	</div>
	
    <div class="sidebar">
	Sidebar
	<br />spanning 1 of 4
	</div>
	
    <div class="sidebar">
	Sidebar
	<br />spanning 1 of 4
	</div>
	
</div>

{% endblock %}

