{% extends "base3.html" %}
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}
{% block content %}

	{% with object_list.0 as object %}
    <div class="gros-article" style="background-image: linear-gradient(rgba(42, 133, 164, 0.8), rgba(42, 133, 164, 0.8)), url(https://medor.coop/media/filer_public/f2/09/f209beca-1c2d-43c2-b420-a28d9ed5774e/keerbergen.jpg)">
       
        <div class="gros-extrait">
            <div class="rubrique-title">
                {{ object.article.rubric_title }}
            </div>	

            <div class="titre-article">
                <a href="{% url 'article-detail-site' object.article.slug %}">{{ object.article.title }}</a>
            </div>

            <div class="auteur-feed">
                {{ object.article.authors }}
            </div>

            <div class="chapeau-feed">
                {{ object.article.description }} 
            </div>

            <div class="lire">
                <a href="#">&rarr;</a>
            </div>
            
        </div>
        
    </div>
    {% endwith %}


    <div class="sidebar">
            <img src="{{ STATIC_URL }}img/medor-objet-contenu.png">
            <p>Le numéro 1 est disponible !
            <a href="#">J'achète Médor</a>
            Je découvre <a href="{% url 'issue-detail-site' '15-16-hiver' %}">le sommaire du numéro en cours</a></p>
	</div>


    <div class="flux-articles">

	{% for object in object_list|slice:"1:" %}
    <div class="petits-articles-feed">
        
        <div class="thumbnail">
            <img src="https://medor.coop/media/filer_public/ca/da/cada9114-7b4e-4080-bb36-eba3273d0697/dessin3.png">
        </div>	
        
        <div class="texte-petits-articles-feed">
            <div class="rubrique-title">
                {{ object.article.rubric_title }}
            </div>	

            <div class="titre-article">
                <a href="{% url 'article-detail-site' object.article.slug %}">{{ object.article.title }}</a>
            </div>
        
            <div class="auteur-feed">
                {{ object.article.authors }}
            </div>

            <div class="chapeau-feed">
                {{ object.article.description }} 
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
    
   
    
    <div class="sidebar">
        {% include "subscribe/partials/arrow-subscribe.html" %}
    </div>

    <div class="sidebar">
        {% include "subscribe/partials/arrow-cooperate.html" %}
    </div>

    <div class="sidebar">
	Sidebar
	<br />spanning 1 of 4
	</div>

    <div class="sidebar">
	Sidebar
	<br />spanning 1 of 4
	</div>

</div>

{% endblock %}

