{% extends "base2.html" %}

{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}

{% block content %}
    {% addtoblock "css" %}
        {% if debug %}
            <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/generic.less" />
        {% else %}
            {% compress css %}
            <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/generic.less" charset="utf-8">
            {% endcompress %}
        {% endif %}
    {% endaddtoblock %}

    <main id="main-content">
        <h1>{% page_attribute page_title %}</h1>

        {% placeholder content %}
    </main>
{% endblock %}
