{% extends "base3.html" %}
{% load cms_tags %}

{% block content %}
<header>
<h1>{% page_attribute page_title %}</h1>
</header>

                    
<article>

<div class="group columns">
<figure class="left">
	<img src="/static/img/medor-objet-mag.png" alt="premier numéro">
</figure>

<p class="chapeau right">Médor n’est pas un chien. C’est un magazine trimestriel belge et coopératif d’enquêtes et de récits.</p>

<p class="chapeau right">Au programme: 128 pages en quadrichromie (format 17 × 23 cm) et 100 % de journalisme, des enquêtes, des récits, des portraits, des photos, des graphes, des rubriques qui en ont dans le ventre. Le tout centré sur la Belgique.</p>

<p class="chapeu right">Organisé en <a href="#">coopérative</a>, Médor crée aussi un nouveau processus pour construire l’information et pour vous offrir un deep journalism de terrain indépendant, exigeant et amusant. Carrément.</p>
</div>

<h2>L’ADN</h2>

<div id="dna" class="columns">

<div>
	<h3>Belge</h3>
	
	<p>Comme chacun d’entre nous, Médor ne sait pas exactement ce que veut dire être belge. Mais il continue de chercher et vous en parle dans chaque numéro.</p>
</div>

<div>
	<h3>Spéléologue</h3>
	
	<p>Médor explore, enquête et insiste. Plusieurs semaines pour une enquête, deux parrains pour accompagner l’auteur, un collaborateur visuel directement adjoint au projet. Nous créons des conditions de travail qui permettent d’aller au fond des choses. On préfère le <em>deep journalism</em> au <em>slow journalism</em>. Ce qui compte, ce n’est pas d’être lent. C’est de creuser plus profondément.</p>
</div>

<div>
	<h3>Libre</h3>
	
	<p>Médor est plus libre qu’un indépendantiste flamand et un régionaliste wallon réunis. Il n’est ni votre ami, ni votre ennemi. Nous ne sommes pas dans la conviction, mais nous cherchons à comprendre les faits. Et <a href="#post-gutemberg" class=" ">les logiciels qui font Médor</a> sont libres, eux aussi.</p>
</div>

<div>
	<h3>Enthousiasmant</h3>
	
	<p>Médor entend cultiver le plaisir d’écriture et de lecture. S’informer et s’amuser. L’humour est la politesse du désespoir. Et le plaisir est un formidable outil pour comprendre. On dirait bien qu’on va être drôle mais y a rien de pire que de l’affirmer.</p>
</div>

<div>
	<h3>Inventeur</h3>
	
	<p>Médor cherche, plus que Zénobe Gramme, Adolphe Sax et Edgard Frankignoul réunis. Avec un avantage sur les médias déjà en place : jusqu’il y a peu, il n’existait pas. Il a donc pu tout réinventer jusqu’à l’écosystème qui lui convient : média constitué en coopérative de lecteurs, graphisme en logiciel libre, prise de décision collective, rédaction en chef tournante, rémunérations décentes pour tous les auteurs.</p>
</div>

<div>
	<h3>Perfectible</h3>
	
	<p>Médor imprime sur papier FSC, pratique l’<a href="http://www.article27.be/" class=" " target="_blank">article 27</a> (démocratisation de l’accès à la culture et l’info), est attentif aux questions de diversité et d’égalité femmes-hommes, est livré à vélo et emballé par une entreprise de travail adapté (<a href="http://www.fermenospilifs.be/" class=" " target="_blank">Nos Pilifs</a>). À côté, Nicolas Hulot et Pierre Rabhi, ce sont les princes du Qatar. Mais on peut toujours faire mieux. Alors on continue…</p>
</div>

<div>
	<h3>Digne</h3>
	
	<p><a href="#equipe" class=" ">Les personnes</a> qui ont pensé Médor sont des producteurs de sens (journalistes, graphistes, etc.). Ils aiment leur boulot mais ont un peu mal à leur clavier, parce que le métier s’abîme, parce que l’urgence ronge le sens. Aujourd‘hui, un pigiste belge gagne en moyenne moins qu’un laveur de vitres (voir <a href="http://www.pigistepaspigeon.be/" class=" " target="_blank">l’étude de l’AJP</a>). Nous voulons un média digne sur toute la ligne. Augmentons les journalistes et les laveurs de vitres. Ils aident à y voir clair.</p>
</div>
</div>


<h2>Médor c’est un magazine collaboratif</h2>

<div id="collaboratif" class="group columns">

<figure class="left">
	<img src="/static/img/medor-objet-coop.png" alt="premier numéro">
</figure>

<div class="right">
<p>Tout d’abord, Médor est construit autour d’une coopérative de lecteurs, qui sont nos patrons de presse. Pour en savoir plus, c’est <a href="/fr/cooperatif/">par ici.</a></p>

<h3>Une rédaction horizontale et tournante</h3>

<p>Les sujets sont choisis en réunion de rédaction par consensus. Pour garantir que Médor sorte tous les trois mois et pas tous les trois ans, une rédaction en chef pilote chaque numéro. Puis passe le relais à l’équipe suivante.</p>

<p>A quoi bon ? À obliger de considérer les arguments plutôt que les statuts. À empêcher la sclérose mentale du type au sommet qui pense tout seul. À partager les charges et les responsabilités. À les ouvrir à des extérieurs si on trouve ça intéressant.</p>

<h3>Médor et le «peer review»</h3>

<p>Comme <select><option>Jef</option><option>les Daltons</option><option>le Prince Laurent</option></select>, le journaliste médorien n’est pas tout seul. Deux fondateurs le suivent dans son projet dès le début, l’accompagnent dans ses questionnements, ses recherches de sources.</p>

<h3>Médor et des équipes plurielles</h3>

<p>Chaque article est entamé, écrit, développé et bouclé par un duo : journaliste et auteur visuel, que ce soit un photographe, un illustrateur et/ou un graphiste. Tout tableau de données, plan, cartographie, schéma, ou autre trace visuelle est mis en forme tandis que le texte est encore en cours d’écriture.</p>

<h3 id="post-gutemberg">Médor et ses outils post-Gutemberg</h3>

<p>Médor construit une plateforme de publication permettant aux journalistes de montrer les avancées rédactionnelles, d’appeler à l’aide pour la recherche d’un contact,  d’une info, pour une relecture provisoire, une question déontologique. Cette plateforme est développée sous licence libre et proposée à tous les médias qui, comme Médor, basculent leurs pratiques et écosystèmes. Partage, on vous dit.</p>

<h3>Un graphisme post-Gutemberg</h3>

<p>Médor est le premier magazine de presse belge dont le graphisme est entièrement réalisé en logiciels libres (programmes qu’on peut utiliser et modifier librement), ici une technologie qui sert habituellement à composer des pages sur Internet (le HTML et le CSS). Il s’agit surtout de pouvoir s’approprier entièrement l’outil et de le bidouiller, ensemble, pour en sortir quelque chose de plus neuf et de riche ; de s’écarter un peu des logiciels mondialisés qui, à l’instar des monocultures, finissent par lisser les paysages et appauvrir l’imaginaire. Et c’est grâce à – ou à cause de –  cela que Médor a une gueule différente des autres.</p>

</div>
</div>

<h2 id="equipe">Les fondateurs</h2>

{% include "subscribe/partials/carousel.html" %}

</article>
{% endblock %}

