{% extends "base3.html" %}
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags webdesign %}


{% block content %}
<article>
    <header>
        <p class="rubrique-title">En commun</p>
        <p class="rubrique-subtitle">Des articles repris d’autres médias grace à leur license libre</p>
        <h1>Bassel Khartabil</h1>
        <h2>Le prisonnier syrien qui vit et risque de mourir pour Internet</h2>
        <p class=authors>Stéphanie Vidal</p>
    </header>
    <p class="caption">
        Défenseur mondialement connu de l'Internet libre et de la culture open source, il est emprisonné depuis trois ans et demi par le régime de Bachar el-Assad et vient d'être transféré de la prison d'Adra vers une destination inconnue.
    </p>
    <p>Bassel Khartabil, 34 ans, fervent défenseur d’un Internet libre et promoteur de la culture open source, est retenu prisonnier depuis le 15 mars 2012 dans les geôles du pouvoir syrien de Bachar el-Assad. D’après l’avis rendu par le Groupe de travail sur la détention arbitraire durant sa 72<sup>e</sup> session, qui s'est tenue à Genève en avril 2015, il serait détenu arbitrairement pour avoir <em>«exercé paisiblement son droit à la liberté d’expression»</em> et avoir <em>«prôné une utilisation non-restreinte d’Internet»</em>. Transféré le 3 octobre 2015 depuis la prison d’<a href="https://en.wikipedia.org/wiki/Adra_Prison">Adra</a>, située dans la banlieue nord-est de Damas, où il était incarcéré depuis décembre 2012, <a href="http://freebassel.org">il a été conduit dans un endroit inconnu</a>, possiblement pour être jugé. Inculpé sans qu’aucune preuve n’ait jamais été présentée contre lui, il est plus que jamais en danger.</p>
    <figure><img src="http://www.slate.fr/sites/default/files/imagecache/1090x500/basselkhartabilphone.jpg">
    <figcaption><a href="https://www.flickr.com/photos/christopheradams/">Christopher Adams</a> via Flickr, <a href="https://creativecommons.org/licenses/by/2.0/">CC BY</a></figcaption>
    </figure>
    <p>Développeur reconnu mondialement pour ses contributions à des projets open source tels que Mozilla Firefox, Wikipédia ou Creative Commons, Bassel Khartabil était également engagé dans une action locale, fondant à Damas le Aiki Lab, lieu dédié aux pratiques artistiques numériques et à l’enseignement des technologies collaboratives. Pour l’ensemble de ses travaux, il a été distingué par le site Foreign Policy <a href="http://www.slate.fr/source/foreign-policy">(partenaire de Slate),</a> qui l’a placé en 19<sup>e</sup> position de son prestigieux classement des <a href="http://foreignpolicy.com/2012/11/26/the-fp-top-100-global-thinkers/">Global Thinkers 2012</a>, et a remporté en 2013 le <a href="https://www.indexoncensorship.org/2013/03/winners-index-awards-2013/">Digital Freedom Award de l’Index on Censorship</a>, une organisation internationale qui, depuis 1972, promeut et défend la liberté d’expression.</p>
    <p>Son emprisonnement et son récent transfert affectent et inquiètent très profondément la communauté du libre et les activistes militant pour les droits de l'homme et la liberté fondamentale qu’est la libre communication des pensées et des opinions. A l'annonce de la nouvelle, Jillian C. York, directrice de l’Electronic Frontier Foundation (EFF), organisation défendant les libertés civiles dans le monde numérique, <a href="https://twitter.com/jilliancyork/status/650380722465730560">a posté sur son compte Twitter</a> le message suivant:</p>
    <blockquote>
    <p><em>«Nous savons que les pétitions ne vont pas convaincre la Syrie (ou quiconque) mais c’est le seul moyen que nous avons. Aidez-nous à faire passer le mot pour que Bassel puisse rester en sécurité.»</em></p>
    </blockquote>
</article>

{% endblock %}

