<header>
    {% if object.article.rubric.title %}
    <p class="rubric-title">{{ object.article.rubric.title|safe }}</p>
    {% endif %}
    {% if object.article.rubric.subtitle %}
    <p class="rubric-subtitle">{{ object.article.rubric.subtitle|safe }}</p>
    {% endif %}
    <h1 class="headline">{{ object.article.title|safe }}</h1>
    {% if object.article.subtitle %}
    <p class="subhead">{{ object.article.subtitle|safe }}</p>
    {% endif %}
    <p class="header-byline">{{ object.article.authors|safe }}</p>

    <div class="lead">
    {{ object.article.lead|safe }}
    </div>
</header>

<div class="body">
{{ object.article.body|safe }}
</div>
