{% extends "base3.html" %}

{% block content %}
<article>
    <header>
        <p class="rubrique-title">{{ object.rubric.title|safe }}</p>
        {% if object.rubric.subtitle %}<p class="rubrique-subtitle">{{ object.rubric.subtitle|safe }}</p>{% endif %}
        <h1>{{ object.title|safe }}</h1>
        {% if object.subtitle %}<h2>{{ object.subtitle|safe }}</h2>{% endif %}
        <p class=authors>{{ object.authors|safe }}</p>
    </header>
    {{ object.body|safe }}
        <p class="publication-date">{% if object.articlemembership_set.first %}
        {% with object.articlemembership_set.first as print_publication %}
	        Publié dans {{ print_publication.issue }} le {{ print_publication.issue.publish_date|date:"d/m/Y" }},
	        {% if print_publication.single_page %}
	            page {{ print_publication.first_page}}.
	        {% else %}
	            pages {{ print_publication.first_page}}–{{ print_publication.last_page}}.
	        {% endif %}<br/>
        {% endwith %}
        {% endif %}
        {% if object.articlemembershipweb_set.first %}
        	Publication en ligne: {{ object.articlemembershipweb_set.first.web_publish_date|date:"d/m/Y" }}.
        {% endif %}</p>

</article>
{% endblock %}

