<!DOCTYPE html>
<html>
    <head>
        <title>Scribe</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}publish/components/normalize.css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}publish/components/normalize-opentype.css/normalize-opentype.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}publish/css/fonts.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}publish/css/typography.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}publish/css/plateform.css">
        <style>
            .foo {
                color: red;
            }
            .bar {
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <a href="{% url 'article-membership-detail-html' object.id %}">Fichier HTML</a>
        <a href="{% url 'article-membership-detail-css' object.id %}">Fichier CSS</a>
        <div class="toolbar">
            <button data-command-name="bold" class="fa fa-bold fa-lg"></button>
            <button data-command-name="italic" class="fa fa-italic fa-lg"></button>
            <button data-command-name="underline" class="fa fa-underline fa-lg"></button>
            <button data-command-name="strikeThrough" class="fa fa-strikethrough fa-lg"></button>
            <button data-command-name="removeFormat" class="fa fa-trash-o fa-lg"></button>
            <button data-command-name="linkPrompt" class="fa fa-link fa-lg"></button>
            <button data-command-name="unlink" class="fa fa-unlink fa-lg"></button>
            <button data-command-name="insertOrderedList" class="fa fa-list-ol fa-lg"></button>
            <button data-command-name="insertUnorderedList" class="fa fa-list-ul fa-lg"></button>
            <button data-command-name="indent" class="fa fa-indent fa-lg"></button>
            <button data-command-name="outdent" class="fa fa-outdent fa-lg"></button>
            <button data-command-name="blockquote" class="fa fa-quote-left fa-lg"></button>
            <button data-command-name="code" class="fa fa-code fa-lg"></button>
            <button data-command-name="h2" class="fa fa-header fa-lg"></button>
            <!--<button data-command-name="h3">H3</button>-->
            <!--<button data-command-name="undo" class="fa fa-undo"></button>-->
            <!--<button data-command-name="redo" class="fa fa-redo"></button>-->
            <!--<button data-command-name="cleanup">Clean</button>-->

            <button data-command-name="superscript" class="fa fa-superscript fa-lg"></button>
            <button data-command-name="subscript" class="fa fa-subscript fa-lg"></button>
            <!--<button data-command-name="toggle-class-foo">toggle class foo</button>-->
            <!--<button data-command-name="toggle-class-bar">toggle class bar</button>-->
            <!--<button data-command-name="insertFigure" data-command-value="http://s1.lemde.fr/image/2015/09/02/644x322/4743486_3_9fc8_myriam-el-khomri-en-fevrier-2014_4491a62b72d7f71175d1ca2cbf64b301.jpg">insert Figure</button>-->
            <!--<button data-command-name="insertLineBreak">insertLineBreak</button>-->
            <!--<button data-command-name="insertParagraph">insertParagraph</button>-->
            <!--<hr>-->
            <!--<button onclick='document.execCommand("formatBlock", false, "<section>")'>bla</button>-->
            <!--<button onclick='document.execCommand("insertParagraph", false)'>bla</button>-->
            <!--<button onclick='document.execCommand("insertImage", false, "http://s2.lemde.fr/image/2015/09/02/312x156/4743622_3_4345_cinq-candidats-se-sont-manifestes-aupres-de_11dbe6af0016d7e0555a6c8ba7fdbbe4.jpg")'>bla</button>-->
            <!--<button onclick='document.execCommand("insertLineBreak", false)'>LineBreak</button>-->
        </div>
        <article>
            <h1>{{ object.article.title }}</h1>
            <div class="editor">{{ object.article.body|safe }}</div>
        </article>
        <script src="{{ STATIC_URL }}/publish/components/requirejs/require.js" data-main="{{ STATIC_URL }}publish/main"></script>
    </body>
</html>

