{% extends "base3.html" %}

{% block content %}
<article>
    <header>
        <p class="rubrique-title">{{ object.rubric.title|safe }}</p>
        {% if object.rubric.subtitle %}<p class="rubrique-subtitle">{{ object.rubric.subtitle|safe }}</p>{% endif %}
        <h1>{{ object.title|safe }}</h1>
        {% if object.subtitle %}<h2>{{ object.subtitle|safe }}</h2>{% endif %}
        <p class=authors>{{ object.authors|safe }}</p>
    </header>
    {{ object.body|safe }}
</article>
{% endblock %}

