<header>
    {% if object.article.rubric_title %}
    <p class="rubrique-title">{{ object.article.rubric_title|safe }}</p>
    {% endif %}
    {% if object.article.rubric_subtitle %}
    <p class="rubrique-subtitle">{{ object.article.rubric_subtitle|safe }}</p>
    {% endif %}
    <h1>{{ object.article.title|safe }}</h1>
    {% if object.article.subtitle %}
    <h2>{{ object.article.subtitle|safe }}</h2>
    {% endif %}
    <p class="authors">{{ object.article.authors|safe }}</p>
</header>

{{ object.article.body|safe }}

