{% extends "base3.html" %}

{% block content %}
{{ object }}

<ol>
{% for membership in object.articlemembership_set.all %}
	{% if membership.article.in_toc %}
	<li>
		<dl>
		{% if membership.article.published_online %}
		    <dt><a href="{% url 'article-detail-site' membership.article.slug %}">{{ membership.article.title|safe }}</a></dt>
		{% else %}
			<dt>{{ membership.article.title|safe }}</dt>
		{% endif %}
			<dd>{{ membership.article.description|safe }}</dd>
		</dl>
	</li>
	{% endif %}
{% endfor %}
</ol>
{% endblock %}
