     
{% extends "subscribe/base_forms.html" %}
{% load i18n %}

{% block id %}collaborating{% endblock %}

{% block content %}
    <div id="steps">
        <div class="active">Collaboration</div>
        <p class="intro-collaborate">Vous vous apprêtez à proposer un sujet d'enquête, de récit ou de portrait pour Médor ?</p>
        <p class="intro-collaborate">Quel que soit le support médiatique que vous choisissez (texte, photo, BD, roman-photo, mots croisés...), visitez notre site web www.medor.coop pour comprendre qui nous sommes et ce que nous voulons publier. Il va de soi que Médor s’engage à respecter la confidentialité de cette proposition et à n’en faire aucun usage, aucune communication sans l’autorisation de l’auteur.</p>
        <p class="intro-collaborate">La prochaine réunion de rédaction se déroulera début mars. Les propositions doivent nous parvenir avant le lundi 2 mars ou seront traitées le mois suivant.</p>
    </div>

    <form>
        {% csrf_token %}
        <div class="contact-wrapper">
            <div class="form-wrapper">
                <div class="form-chunk">
                    <div class="box table">
                        {% for field in part1 %}
                        <div class="required table-row">
                            {{ field.label_tag }}
                            <div class="table-cell">
                            {{ field }}
                            {{ field.errors }}
                            {{ field.field.help_text }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>        
                <div class="form-chunk">
                    <div class="box table">
                        {% for field in part2 %}
                        <div class="required table-row">
                            {{ field.label_tag }}
                            <div class="table-cell">
                            {{ field }}
                            {{ field.errors }}
                            {{ field.field.help_text }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>   
        </div> 
        {% for field in part3 %}
        <div class="required">
            {{ field.label_tag }}
                <div class="help-text">
                {{ field.field.help_text }}
                </div>
                <div class="article-proposal-field">
                {{ field }}
                {{ field.errors }}
                </div>
        </div>
        {% endfor %}
        <div id="confirm" style="width:66%; margin-top:-5px">
            <p class="intro-collaborate">Vous avez répondu aux questions ci-dessus ? Médor s’engage à vous donner une réponse à l'issue du prochain Comité de rédaction (mensuel) et vous remercie chaleureusement pour la confiance que vous nous accordez !
            Meilleures salutations</p>
            <input style="margin-top:15px" type="submit" value="Envoyer" />
        </div>
    </form>
{% endblock %}