{% extends "subscribe/base_forms.html" %}
{% load i18n collaborate_tags %}

{% block id %}collaborating{% endblock %}

{% block content %}
    <div id="steps">
        <div class="active" style="margin:auto 15% !important; margin-top:15px !important;">Collaboration</div>
        <p class="intro-collaborate">Vous avez une idée de sujet à nous
        soumettre. Vous êtes en possession d’une information qui mériterait,
        selon vous, d’être développée, vérifiée, complétée. Vous avez visité
        <a href="/">notre site web</a> et vous vous dites que c’est chez Médor
        qu’il faudrait en parler. Mais vous ne vous sentez pas capable, bien
        placé(e) ou disponible pour approfondir la question. Alors remplissez
        le formulaire simplifié pour partager votre idée avec nous. Et nous
        vous recontacterons. Dans la discrétion et la confidentialité.</p>

        {% if form.errors %}
        <p style="color: red;">Veuillez corriger les erreurs ci-dessous</p>
    {% endif %}

    </div>

    <form style="margin:auto 15% !important;" action="" method="post">
        {% csrf_token %}
        <div class="contact-wrapper">
            <div class="form-wrapper">
                <div class="form-chunk">
                    <div class="box table">
                        {% for field in part1 %}
                        <div class="required table-row">
                            {{ field.label_tag }}
                            <div class="table-cell">
                            {{ field }}
                            {{ field.errors }}
                            {{ field.field.help_text }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>        
                <div class="form-chunk">
                    <div class="box table">
                        {% for field in part2 %}
                        <div class="required table-row">
                            {{ field.label_tag }}
                            <div class="table-cell">
                            {{ field }}
                            {{ field.errors }}
                            {{ field.field.help_text }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>   
        </div> 
        {% for field in part3 %}
        <div class="required" style="padding:0px 30px; text-align:left;">
            {{ field.label_tag }}
                <div class="help-text">
                {{ field.field.help_text }}
                {% if field.field.widget|klass == "Textarea" %}
                ({{ field.field.max_length }} signes maximum)
                {% endif %}
                </div>
                <div class="article-proposal-field">
                {{ field }}
                {{ field.errors }}
                </div>
        </div>
        {% endfor %}
        <div id="confirm">
            <p class="submit-collaborate">Vous avez répondu aux questions
            ci-dessus ? Médor s’engage à vous donner une réponse prochainement
            et vous remercie chaleureusement pour la confiance que vous lui
            accordez ! Meilleures salutations.</p>

            <input style="margin-top:15px" type="submit" value="Envoyer" />
        </div>
    </form>
{% endblock %}
