{% extends "subscribe/base_forms.html" %}
{% load i18n collaborate_tags %}

{% block id %}collaborating{% endblock %}

{% block content %}
    <div id="steps">
        <div class="active" style="margin:auto 15% !important; margin-top:15px !important;">Suggérer un sujet</div>

        <p class="intro-collaborate">Si vous avez une idée, une info ou une
        piste à nous suggérer, merci de remplir ce formulaire confidentiel.
        Expliquez-nous le plus clairement possible ce dont il s’agit et en quoi
        le sujet vous concerne éventuellement. Nous ne pouvons malheureusement
        pas répondre à tout le monde mais nous vous lirons avec intérêt.
        Merci !</p>

        {% if form.errors %}
        <p style="color: red;">Veuillez corriger les erreurs ci-dessous</p>
    {% endif %}

    </div>

    <form style="margin:auto 15% !important;" action="" method="post">
        {% csrf_token %}
        <div class="contact-wrapper">
            <div class="form-wrapper">
                <div class="form-chunk">
                    <div class="box table">
                        <div class="required table-row">
                            {{ form.name.label_tag }}
                            <div class="table-cell">
                            {{ form.name }}
                            {{ form.name.errors }}
                            {{ form.name.field.help_text }}
                            </div>
                        </div>

                        <div class="required table-row">
                            {{ form.email.label_tag }}
                            <div class="table-cell">
                            {{ form.email }}
                            {{ form.email.errors }}
                            {{ form.email.field.help_text }}
                            </div>
                        </div>

                        <div class="table-row">
                            {{ form.phone.label_tag }}
                            <div class="table-cell">
                            {{ form.phone }}
                            {{ form.phone.errors }}
                            {{ form.phone.field.help_text }}
                            </div>
                        </div>
                    </div>
                </div>        
                <div class="form-chunk">
                    <div class="box table">
                        <div class="required table-row">
                            {{ form.address.label_tag }}
                            <div class="table-cell">
                            {{ form.address }}
                            {{ form.address.errors }}
                            {{ form.address.field.help_text }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div> 
        <div class="required" style="padding:0 30px; text-align:left;">
            {{ form.subject_title.label_tag }}
            <div class="help-text">
            {{ form.subject_title.help_text }}
            </div>
            <div class="article-proposal-field">
            {{ form.subject_title }}
            {{ form.subject_title.errors }}
            </div>
        </div>
        <div class="required" style="padding:0 30px; text-align:left;">
            {{ form.body.label_tag }}
            <div class="help-text">
            Présentez ici vos idées ou votre proposition
            </div>
            <div class="article-proposal-field">
            {{ form.body }}
            {{ form.body.errors }}
            </div>
        </div>
        <div id="confirm">
            <!-- <p class="submit-collaborate">Vous avez répondu aux questions -->
            <!-- ci-dessus ? Médor s’engage à vous donner une réponse prochainement -->
            <!-- et vous remercie chaleureusement pour la confiance que vous lui -->
            <!-- accordez ! Meilleures salutations.</p> -->

            <input style="margin-top:15px" type="submit" value="Envoyer" />
        </div>
    </form>
{% endblock %}
