{% extends "base2.html" %}


{% load compress sekizai_tags %}


{% block content %}
{% addtoblock "css" %}
{% if debug %}
<!-- This is the client-side way to compile less and an ok choice for local dev -->
<link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/articleproposal_list.less" />
{% else %}
{% compress css %}
<!-- This is the nifty django-compressor way to compile your less files in css -->
<link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}less/articleproposal_list.less" charset="utf-8">
{% endcompress %}
{% endif %}
{% endaddtoblock %}


<main id="main-content" class="wrapper main-section">
    <ol>
    {% for obj in object_list %}
    <li>{{ obj.creation_date }} — <a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
    </ol>
</main>

{% endblock %}
