{% extends "subscribe/base_forms.html" %}
{% load i18n collaborate_tags %}

{% block id %}collaborating{% endblock %}

{% block content %}
    <div id="steps">
        <div class="active" style="margin:auto 15% !important; margin-top:15px !important;">Collaboration</div>
        <p class="intro-collaborate">
        Merci pour votre proposition. Un e-mail de confirmation devrait vous
        parvenir très prochainement. Par mesure de confidentialité les données
        transmises à l'aide de ce formulaire n'y figureront pas.<p>
        </p>

        <p class="intro-collaborate">L’équipe de Médor<br />
        <a href="https://medor.coop">www.medor.coop</a> — <a
           href="http://www.facebook.com/medormag">www.facebook.com/medormag</a></p>
        </div>
    </div>
{% endblock %}
