@import "grid.less";
@import "colors.less";

/*  SECTIONS  */


/*  COLUMN SETUP  */


/*  GROUPING  */


/*  GRID */

.menu {
    clear: both;
    position : fixed;
    height: 230px;
    background-color:white;
    z-index: 10;
    overflow: hidden;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    .fullwidth;
}

.menu ul {
    list-style: none;
    margin: auto;
    text-align: center;
}


.menu li {
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-left: 1rem;
    line-height: 1.5;
}

.menu li a{
    color:@color-A2;
    text-decoration:none;
    font-size: 20px;
    font-family: 'Alfphabet-Condensed';
    
}


.logo {
        display: block;
        width: 100%;
        height:75%;
        margin: 10px auto 0;
        clear: both;
        line-height: 1;
        float: left;
        text-align: center;
        color: red;
        font-weight: 400;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
}
.logo img{
    height:100%;
    width: auto;
}


.menu.smaller {
    height: 80px;
}

.smaller .logo {
    height: 60%;
    display: inline-block;
    width: auto;
    float: left;
    margin-left: 8px;
    }

.gros-article {
    .w6;
    background-size: cover;
    background-position: center;
    margin-bottom:0.65%;
    margin-left: 0%;
    max-height: 300px;
    min-height: 240px;
    overflow: hidden;
}

.menu.smaller  ul {
    margin-top: 20px;
    
}

.gros-article img {
    }

.gros-extrait {
    .w3;
    float :right;
    color:white;
    margin: 2% 2% 2% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}



.auteur-feed{
    font-size: 8 * @unit;
    font-family: 'Alfphabet-Condensed';
    line-height: (@line-height / 8) * 4;
}

.chapeau-feed {
    margin-top: 3 * @unit;;
    font-size: 7 * @unit;
    line-height: (@line-height / 8) * 6;
    list-style-type: none;
}

.titre-article{
    font-family: "Erbar condensed";
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 20 * @unit;
    line-height: (@line-height / 8) * 17;
}

.titre-article a {
    text-decoration: none;
    color: inherit;
}

.flux-articles {
    .w4;
    float: right;
}

.petits-articles-feed {

    float:right;
}

.gros-articles-feed {

    float:right;
    margin-left: 0;
    background-size: cover;
    overflow: hidden;
}


.thumbnail img {
    display: block;
    width: 32%;
    height:auto;
    margin-right: 10px;
    float: left;
}

.texte-petits-articles-feed{
    float: right;
    width:66%;
    margin-bottom:1.5em;
}

.petits-articles-feed.blog .texte-petits-articles-feed {
    width: 100%;
}

.petits-articles-feed.blog .thumbnail {
    display:none;
}

.texte-gros-articles-feed{
    float: left;
    padding: 20px;
    margin-bottom: 1.5em;
}


.sidebar {
    .w2;
    margin-left: 0;
    float: left;
    clear: left;
    }

.sidebar img{
    max-width:100%;
    height:auto;
    float: left;
}


.sidebar p {
    margin-top: 3 * @unit;;
    font-size: 8 * @unit;
    line-height: (@line-height / 8) * 6;
    list-style-type: none;
    font-family: "Alfphabet-Condensed";
    
    
}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 780px) {
    .gros-extrait {
        .w6;
    }
    .col {  margin: 1% 0 1% 0%; }
    .sidebar, .flux-articles {
        width: 100%;
    }

    .sidebar img{
        .w3;
        max-width:100%;
        height:auto;
        float: left;
        
    }

    .gros-extrait {
        .w6;
    }
 
    .thumbnail{
        dispay:none;
    }
}
